<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      {{#if env.DOCSEARCH_ENABLED}}
        <div class="navbar-item">
          <input id="search-input" type="text" placeholder="Search docs">
        </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/devsecops/" rel=canonical>Blog</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/xaas/">XaaS</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/xaas/kubernetes">Kubernetes</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/devsecops/">DevSecOps</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/devsecops/nixos">1. NixOS</a>
            <a class="navbar-item" href="/devsecops/continuous-integration">2. Continuous Integration</a>
            <a class="navbar-item" href="/devsecops/containers">3. Containers</a>
            <a class="navbar-item" href="/devsecops/continuous-deployment">4. Continuous Deployment</a>
          </div>
        </div>
        <a class="navbar-item" href="/language/">Language</a>
        <a class="navbar-item" href="http://www.keidrych.com/">Author 🔗</a>
        <!--
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="#">Download</a>
          </span>
        </div>
        !-->
      </div>
    </div>
  </nav>
</header>
